<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="stylesheet" href="xadmin/css/font.css">
    <link rel="stylesheet" href="xadmin/css/xadmin.css">
    <!-- <link rel="stylesheet" href="./css/theme5.css"> -->
    <script src="xadmin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="xadmin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        // 是否开启刷新记忆tab功能
        var is_remember = false;
    </script>
</head>
<body class="index">
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="./index.html">后台管理</a></div>
    <div class="left_open">
        <a><i title="展开左侧栏" class="iconfont">&#xe699;</i></a>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;"></a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('最大化','http://www.baidu.com','','',true)">
                        <i class="iconfont">&#xe6a2;</i>弹出最大化</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出自动宽高','http://www.baidu.com')">
                        <i class="iconfont">&#xe6a8;</i>弹出自动宽高</a></dd>
                <dd>
                    <a onclick="xadmin.open('弹出指定宽高','http://www.baidu.com',500,300)">
                        <i class="iconfont">&#xe6a8;</i>弹出指定宽高</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开','member-list.html')">
                        <i class="iconfont">&#xe6b8;</i>在tab打开</a></dd>
                <dd>
                    <a onclick="xadmin.add_tab('在tab打开刷新','member-del.html',true)">
                        <i class="iconfont">&#xe6b8;</i>在tab打开刷新</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;" id="admin-name">admin</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="xadmin.open('个人信息','http://www.baidu.com')">个人信息</a></dd>
                <dd>
                    <a onclick="xadmin.open('切换帐号','http://www.baidu.com')">切换帐号</a></dd>
                <dd>
                    <a href="/logout">退出</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item to-index">
            <a href="/">前台首页</a></li>
    </ul>
</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <!--<li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="会员管理">&#xe6b8;</i>
                    <cite>管理员管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('管理员列表','/admin-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>管理员列表</cite></a>
                    </li>



                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="权限管理">&#xe726;</i>
                    <cite>权限管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">

                    <li>
                        <a onclick="xadmin.add_tab('角色管理','/admin-role.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>角色管理</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('权限管理','/permission.html',true)">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>权限管理</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe726;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">

                    <li>
                        <a onclick="xadmin.add_tab('用户列表','/user-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>用户列表</cite></a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="课程管理">&#xe723;</i>
                    <cite>课程管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('待审核','/video-nocheck.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>待审核</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('已通过','/video-pass.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>已通过</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('未通过','/video-notpass.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>未通过</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="文章管理">&#xe723;</i>
                    <cite>文章管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('文章列表','/article-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>文章列表</cite></a>
                    </li>
                    <li>
                        <a onclick="xadmin.add_tab('发表文章','/article-publish.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>发表文章</cite></a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="标签列表">&#xe723;</i>
                    <cite>分类管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('分类列表','/label-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>分类列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="轮播图管理">&#xe723;</i>
                    <cite>轮播图管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('轮播图列表','/slideshow.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="图书管理">&#xe723;</i>
                    <cite>图书管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('图书列表','/book.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>列表</cite></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="统计">&#xe723;</i>
                    <cite>统计</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('统计','/label-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>统计</cite></a>
                    </li>
                </ul>
            </li>-->

        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
        <ul class="layui-tab-title">
            <li class="home">
                <i class="layui-icon">&#xe68e;</i>我的桌面</li></ul>
        <div class="layui-unselect layui-form-select layui-form-selected" id="tab_right">
            <dl>
                <dd data-type="this">关闭当前</dd>
                <dd data-type="other">关闭其它</dd>
                <dd data-type="all">关闭全部</dd></dl>
        </div>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/welcome.html' frameborder="0" scrolling="yes" class="x-iframe"></iframe>
            </div>
        </div>
        <div id="tab_show"></div>
    </div>
</div>
<div class="page-content-bg"></div>
<style id="theme_style"></style>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<script src="js/jquery-3.3.1.js"></script>
<script>//百度统计可去掉
console.log("admin: "+localStorage.getItem("adminId"))
console.log("permission: "+localStorage.getItem("permission"))
if(localStorage.getItem("adminId") == null){
    window.location.href = "/login"
}
$("#admin-name").text(localStorage.getItem('nickname'))
var _hmt = _hmt || []; (function() {
    var hm = document.createElement("script");
    // hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
})();

var tabBar =[{"cite":"管理员","icon":"&#xe726;","permission":"sys:admin","list":[{"cite":"管理员列表","url":"/admin-list.html"}]},
    {"cite":"权限管理","icon":"&#xe726;","permission":"sys:permission","list":[{"cite":"角色管理","url":"/admin-role.html"},{"cite":"权限管理","url":"/permission.html"}]},
    {"cite":"用户管理","icon":"&#xe726;","permission":"sys:user","list":[{"cite":"用户列表","url":"/user-list.html"}]},
    {"cite":"视频管理","icon":"&#xe726;","permission":"sys:course","list":[{"cite":"待审核","url":"/video-nocheck.html"},{"cite":"已通过","url":"/video-pass.html"},{"cite":"未通过","url":"/video-notpass.html"}]},
    {"cite":"文章管理","icon":"&#xe726;","permission":"sys:article","list":[{"cite":"发表","url":"/article-publish.html"},{"cite":"列表","url":"/article-list.html"}]},
    {"cite":"分类管理","icon":"&#xe726;","permission":"sys:category","list":[{"cite":"分类列表","url":"/label-list.html"}]},
    {"cite":"轮播图管理","icon":"&#xe726;","permission":"sys:slideshow","list":[{"cite":"列表","url":"/slideshow.html"}]},
    {"cite":"图书管理","icon":"&#xe726;","permission":"sys:book","list":[{"cite":"图书列表","url":"/book.html"}]},
    {"cite":"评论管理","icon":"&#xe726;","permission":"sys:comment","list":[{"cite":"评论列表","url":"/comment.html"}]}]

var plist = []
plist = $.parseJSON(localStorage.getItem("permission"))
$.each(plist,function (i,data) {
    console.log(data)
})
var cTabar = []
$.each(tabBar,function (i,tdata) {
    $.each(plist,function (i,pdata) {
        if(tdata.permission === pdata){
            cTabar.push(tdata)
        }
    })
})
$.each(cTabar,function (i,data) {


    var li = "<li>";
    var head = " <a href=\"javascript:;\">\n" +
        "                <i class=\"iconfont left-nav-li\" lay-tips=\""+data.cite+"\">"+data.icon+"</i>" +
        "<cite>"+data.cite+"</cite>\n" +
        "            <i class=\"iconfont nav_right\">&#xe697;</i></a>"

    var bodyStart = "<ul class=\"sub-menu\">";

    var bodyList =[];


    var bodyEnd = "</ul>";
    var liEnd = "</li>";



    $.each(data.list,function (j, item) {
        var body = "<li>\n" +
            "                <a onclick=\"xadmin.add_tab('"+item.cite+"','"+item.url+"')\">\n" +
            "                <i class=\"iconfont\">&#xe6a7;</i>\n" +
            "            <cite>"+item.cite+"</cite></a></li>";
        bodyList.push(body)
    })
    var div = li+head+bodyStart+bodyList+bodyEnd+liEnd;

    $("#nav").append(div)

})

</script>
</body>

</html>