<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

        <link rel="stylesheet" href="xadmin/css/font.css">
        <link rel="stylesheet" href="xadmin/css/xadmin.css">
        <script src="xadmin/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="xadmin/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            * { margin: 0; padding: 0;}
            .myscroll { width: auto; height: 300px; margin: 0 0;  line-height: 26px; font-size: 12px; overflow: hidden;}
            .myscroll li { height: 26px; margin-left: 25px;}
            .myscroll a { color: #333; text-decoration: none;}
            .myscroll a:hover { color: #ED5565; text-decoration: underline;}
        </style>
        <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
        <script src="js/scroll.js"></script>
        <script type="text/javascript">
            $(function(){
                $('.myscroll').myScroll({
                    speed: 40, //数值越大，速度越慢
                    rowHeight: 26 //li的高度
                });
            });
        </script>
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">欢迎管理员：
                                <span class="x-red" id="admin-name">admin</span>！当前时间: <span id="time"></span>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <!--<div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">数据统计</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章数</h3>
                                        <p>
                                            <cite>66</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>会员数</h3>
                                        <p>
                                            <cite>12</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>回复数</h3>
                                        <p>
                                            <cite>99</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>商品数</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章数</h3>
                                        <p>
                                            <cite>67</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6 ">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>文章数</h3>
                                        <p>
                                            <cite>6766</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                        <div class="layui-card-body  ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>新下载
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>新下载
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>新下载
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="layui-col-sm6 layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header">下载
                            <span class="layui-badge layui-bg-cyan layuiadmin-badge">月</span></div>
                        <div class="layui-card-body ">
                            <p class="layuiadmin-big-font">33,555</p>
                            <p>新下载
                                <span class="layuiadmin-span-color">10%
                                    <i class="layui-inline layui-icon layui-icon-face-smile-b"></i></span>
                            </p>
                        </div>
                    </div>
                </div>-->
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">系统信息</div>
                        <div class="layui-card-body ">
                            <!--<table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>xxx版本</th>
                                        <td>1.0.180420</td></tr>
                                    <tr>
                                        <th>服务器地址</th>
                                        <td>x.xuebingsi.com</td></tr>
                                    <tr>
                                        <th>操作系统</th>
                                        <td>WINNT</td></tr>
                                    <tr>
                                        <th>运行环境</th>
                                        <td>Apache/2.4.23 (Win32) OpenSSL/1.0.2j mod_fcgid/2.3.9</td></tr>
                                    <tr>
                                        <th>PHP版本</th>
                                        <td>5.6.27</td></tr>
                                    <tr>
                                        <th>PHP运行方式</th>
                                        <td>cgi-fcgi</td></tr>
                                    <tr>
                                        <th>MYSQL版本</th>
                                        <td>5.5.53</td></tr>
                                    <tr>
                                        <th>ThinkPHP</th>
                                        <td>5.0.18</td></tr>
                                    <tr>
                                        <th>上传附件限制</th>
                                        <td>2M</td></tr>
                                    <tr>
                                        <th>执行时间限制</th>
                                        <td>30s</td></tr>
                                    <tr>
                                        <th>剩余空间</th>
                                        <td>86015.2M</td></tr>
                                </tbody>
                            </table>-->
                            <div class="myscroll">
                                <ul id="srocll">
                                   <!-- <li><a href="#">2006年1月John Resig等人创建了jQuery</a></li>
                                    <li><a href="#">8月，jQuery的第一个稳定版本</a></li>
                                    <li><a href="#">事件处理和AJAX交互</a></li>
                                    <li><a href="#">jQuery的性能达到了Prototype</a></li>
                                    <li><a href="#">Mootools以及Dojo等同类JavaScript库的水平</a></li>
                                    <li><a href="#">2008年5月，jQuery 1.2.6版发布</a></li>
                                    <li><a href="#">微软和诺基亚公司正式宣布支持开源的jQuery库</a></li>
                                    <li><a href="#">它使用了全新的选择符引擎Sizzle</a></li>
                                    <li><a href="#">2010年1月，也是jQuery的四周年生日</a></li>
                                    <li><a href="#">jQuery通过eval方法来解析json对象</a></li>
                                    <li><a href="#">使用原生的JSON.parse解析json对象</a></li>
                                    <li><a href="#">扁平化UI/Flat UI Kit(PSD)</a></li>
                                    <li><a href="#">童趣卡通圣诞老人矢量素材(EPS)</a></li>
                                    <li><a href="#">63个线性图标素材(PSD)</a></li>
                                    <li><a href="#">15个音乐类图标素材(AI)</a></li>
                                    <li><a href="#">jQuery侧边导航插件SidebarJS</a></li>
                                    <li><a href="#">jQuery计时器插件TimeCircles</a></li>
                                    <li><a href="#">jQuery仿Google Play幻灯片效果插件plusview</a></li>
                                    <li><a href="#">100个圣诞节矢量图标(PSD/SVG)</a></li>
                                    <li><a href="#">用FlexSlider制作《枪神纪》幻灯片效果</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">开发团队</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>版权所有</th>
                                        <td>xuebingsi(xuebingsi)
                                            <a href="http://x.xuebingsi.com/" target="_blank">访问官网</a></td>
                                    </tr>
                                    <tr>
                                        <th>开发者</th>
                                        <td>马志斌(113664000@qq.com)</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <style id="welcome_style"></style>
                <div class="layui-col-md12">
                    <blockquote class="layui-elem-quote layui-quote-nm">感谢layui,百度Echarts,jquery,本系统由x-admin提供技术支持。</blockquote></div>-->
            </div>
        </div>
        </div>
        <script src="js/jquery-3.3.1.js"></script>
        <script>
            $("#admin-name").text(localStorage.getItem('nickname'));

            var myDate = new Date;
            var year = myDate.getFullYear(); //获取当前年
            var mon = myDate.getMonth() + 1; //获取当前月
            var date = myDate.getDate(); //获取当前日
            // var h = myDate.getHours();//获取当前小时数(0-23)
            // var m = myDate.getMinutes();//获取当前分钟数(0-59)
            // var s = myDate.getSeconds();//获取当前秒
            var week = myDate.getDay();
            var weeks = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
            console.log(year, mon, date, weeks[week])
            $("#time").html(year + "年" + mon + "月" + date + "日" + weeks[week]);


            // var websocket = null
            // if('WebSocket' in window){
            //     websocket = new WebSocket('ws://localhost:8080/webSocket/msg')
            // }else {
            //     console.log('浏览器不支持websocket')
            // }
            // websocket.onopen = function (ev) {
            //     console.log("建立连接")
            // }
            // websocket.onclose = function (ev) {
            //     console.log("连接关闭")
            // }
            // websocket.onmessage = function (ev) {
            //     console.log("收到消息"+ev.data)
            //     $("#srocll").append("  <li><a>"+ev.data+"</a></li>")
            //
            // }
            // websocket.onerror = function (ev) {
            //     console.log("连接错误")
            // }
            // websocket.onbeforeunload = function () {
            //     websocket.close()
            // }
        </script>
    </body>
</html>